<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minoculars</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<form action="/" method="POST" onsubmit="return validateForm()">
    <label>队伍
        <select id="team-num" name="team_num"></select>
    </label>
    <label>比赛编号
        <input type="number" name="game_id" style="width: 100px;">
    </label>
    <label for="start-pos">起始位置
        <select id="start-pos" name="start_pos">
            <option></option>
            <option value="blue_1">蓝左</option>
            <option value="blue_2">蓝中</option>
            <option value="blue_3">蓝右</option>
            <option value="red_1">红左</option>
            <option value="red_2">红中</option>
            <option value="red_3">红右</option>
        </select>
    </label>

    <div class="divider"></div>

    <label class="checkbox-container">离开tarmac?
        <input type="checkbox" name="taxi_tarmac">
        <span class="checkmark"></span>
    </label>
    <div class="counter-wrapper">
        <button type="button" class="counter-btn" onclick="this.nextElementSibling.value++">自动upper</button>
        <input type=number id="auto-upper" class="counter" name="auto_upper" value=0 ondblclick="this.value--" readonly>
        <span>/</span>
        <input type="number" class="counter fail-counter" name="auto_upper_fail" value=0 ondblclick="this.value--"
               readonly>
        <button type="button" class="fail-btn" onclick="this.previousElementSibling.value++">✖️</button>
    </div>
    <div class="counter-wrapper">
        <button type="button" class="counter-btn" onclick="this.nextElementSibling.value++">自动lower</button>
        <input type=number id="auto-lower" class="counter" name="auto_lower" value=0 ondblclick="this.value--" readonly>
        <div style="width: 50%"></div>
    </div>

    <div class="divider"></div>

    <div class="counter-wrapper">
        <button type="button" class="counter-btn" onclick="this.nextElementSibling.value++">手动upper</button>
        <input type=number id="teleop-upper" class="counter" name="teleop_upper" value=0 ondblclick="this.value--"
               readonly>
        <span>/</span>
        <input type="number" id="teleop-upper-fail" class="counter fail-counter" name="teleop_upper_fail" value=0
               ondblclick="this.value--" readonly>
        <button type="button" class="fail-btn" onclick="this.previousElementSibling.value++">✖️</button>
    </div>
    <div class="counter-wrapper">
        <button type="button" class="counter-btn" onclick="this.nextElementSibling.value++">手动lower</button>
        <input type=number id="teleop-lower" class="counter" name="auto_shoots" value=0 ondblclick="this.value--"
               readonly>
        <div style="width: 50%"></div>
    </div>

    <div class="divider"></div>

    <div id="climb-wrapper">
        <label>爬升等级
            <select id="climb" name="climb_rung">
                <option value="">无</option>
                <option value="low">Low</option>
                <option value="middle">Middle</option>
                <option value="high">High</option>
                <option value="traversal">Traversal</option>
            </select>
        </label>

        <label class="checkbox-container">失败?
            <input type="checkbox" name="climb_fail">
            <span class="checkmark"></span>
        </label>

        <label>爬升位置
            <select id="climb-pos" name="climb_pos">
                <option value="none">无</option>
                <option value="left">左</option>
                <option value="middle">中</option>
                <option value="right">右</option>
            </select>
        </label>
    </div>

    <div class="divider"></div>

    <div style="justify-content: center">
        <button type="button" class="counter-btn"
                onclick="this.nextElementSibling.value = +this.nextElementSibling.value+4">犯规
        </button>
        <input type=number id="foul" class="counter" name="foul" style="margin-left: 30px;" value=0
               ondblclick="this.value= +this.value-4" readonly>
    </div>

    <textarea placeholder="备注" id="comments" name="comments"></textarea>
    <input type="submit" id="submit" value="提交">
</form>
</body>

<script>
    const teamOptions = document.getElementById("team-num").options
    const teams = ["", 5165, 5449, 5515, 5737, 5823, 6304, 6353, 6394, 6399, 6489, 6766, 6907, 6940, 6941,
        6970, 6986, 7047, 7280, 7522, 7529, 8011, 8015, 8214, 8810, 8811, 8813, 8814, 9985, 9986]
    teams.forEach(team =>
        teamOptions.add(
            new Option(team, team)
        )
    )

    function validateForm() {
        let team_num = document.forms[0]["team_num"].value;
        let game_id = document.forms[0]["game_id"].value;
        if (team_num === "" || game_id === "") {
            alert("队名和比赛编号不能为空！");
            return false;
        }
    }
</script>
</html>